APScheduler==3.11.1
asgiref==3.11.0
dj-database-url==3.0.1
Django==5.2.5
django-apscheduler==0.7.0
django-cors-headers==4.9.0
djangorestframework==3.16.1
psycopg2==2.9.11
psycopg2-binary==2.9.11
sqlparse==0.5.3
tzlocal==5.3.1
whitenoise==6.11.0
Django==5.2.5
djangorestframework
django-cors-headers
psycopg2-binary
dj-database-url
Pillow
django-apscheduler
google-generativeai
python-dotenv
requests
reportlab
